{% extends 'main.html' %}

{% block content%}


<div id="explore_{{where}}" class="explore">
    <div>
        {% load static %}
        <img id="explore_location_pic" src="{% static where_pic %}" alt="{{where}}">
        {% if pokemon_pic_src is not None %}
        <img id="explore_pokemon_pic" src="{{pokemon_pic_src}}" alt="{{pokemon}} image">
        {% endif %}
    </div>

    {% for line in lines %}
    <p>{{line}}</p>
    {% endfor %}

    <form action="{% url 'explore' where %}" method="post">
        {% csrf_token %}
        {%for b in buttons%}
        <button class="explore_{{where}}_button" name="choice" value={{b.0}} >{{b.1}}</button>
        {%endfor%}
    </form>
</div>
{% endblock %}