{% extends 'main.html'%}

{% block content %}

<div class="standard">
    <p><h2>Where would you like to go to explore? :D</h2></p>
    <form action="{% url 'explore' %}" method="post">
        {% csrf_token %}
        <button class=explore_forest_button name="choice"  value="Forest">Forest</button>
        ---
        <button class=explore_sea_button name="choice"  value="Sea">Sea</button>
        ---
        <button class=explore_cave_button name="choice" value="Cave">Cave</button>
        <br>
        <button class=explore_volcano_button name="choice"  value="Volcano">Volcano</button>
        ---
        <button class=explore_tundra_button name="choice" value="Tundra">Tundra</button>
        <br>
        <button class=explore_graveyard_button name="choice"  value="Graveyard">Graveyard</button>


    </form>
</div>

{% endblock %}