{% extends 'main.html' %}

{% block content %}

{% load static %}

{% if request.user.is_authenticated %}
<div id="garden">
<h2>Witaj {{username}}!</h2>
<div id="garden_pokemons">
    <form action="" method="post">
        {% csrf_token %}
        {% for g in garden_pokemon_list %}
            <button style="{{g.style}}" class="garden_pokemon_button" name="choice" value="{{g.pokemon.id}}">
                {{g.pokemon.species.name}} ({{g.pokemon.level}})
        <img src="{{g.pokemon.species.picture_source}}" alt="{{g.pokemon.species.name}}">
        </button>
        {% endfor %}
    </form>


</div>
</div>

{% else %}
<div id="main_text">




    <div>
        <p>Welcome to the wonderful world of Pokemon. To start your journey click a button below</p>
        <a href="{% url 'login' %}">LOGIN</a>
    </div>

</div>
{% endif %}

{% endblock %}