{% extends 'main.html' %}

{% block content %}

{% if page == 'login' %}

<div class="log_reg">
    <h2> LOGIN </h2>
    <form method="POST" action="">
        {% csrf_token %}
        <label>Username</label>
        <input type="text" name="username" placeholder="Enter Username" >
        <br>
        <label>Password</label>
        <input type="password" name="password" placeholder="Enter Password" >
        <br>
        <input type="submit" value="Login">
    </form>

    <p>haven't signed up yet?</p>
    <a href="{% url 'register' %}">SIGN UP UwU</a>
</div>

{% else %}

<div class="log_reg">
    <h2> REGISTER </h2>

    <form method="POST" action="">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" value="Register">
    </form>
    <p>already signed up?</p>
    <a href="{% url 'login' %}">LOG IN OwO</a>
</div>
{% endif %}


{% endblock content %}